@{
    ViewBag.MainPage = "Configuration";
}

<div class="maxW pe-5 ps-5 d-flex gap-3 flex-column">
    <div>
        <button class="maxW btn btnConfig">
            Posts arquivados
        </button>
    </div>
    <div>
        <button class="maxW btn btnConfig">
            Mudar senha
        </button>

    </div>
</div>