@{
    Console.WriteLine("aaaaaa" + ViewBag.User);
}

<div class="col">
    <div class="box-follow">
        <div class="row">
            <div class="col box-follow-select" id="following" onclick="changeList(1)">
                <h6 class="no-config text-select">Seguindo</h6>
            </div>
            <div class="col box-follow-select" id="followed" onclick="changeList(2)">
                <h6 class="no-config text-select">Seguidores</h6>
            </div>
        </div>
        <div class="col d-flex flex-column justify-content-center align-items-center">
            @if (ViewBag.Following == null)
            {
                <h3>Você ainda não está seguindo ninguém!!!</h3>
            }
        </div>
    </div>
</div>


<style>
    .box-follow {
        background-color: gray;
        height: 45%;
        margin: 1rem;
        border-radius: 15px;
        overflow: hidden;
    }

    .box-follow-select {
        text-align: center;
        height: 30px !important;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: lightgrey;
    }

        .box-follow-select:hover {
            background-color: dimgray;
        }

    .select-follow {
        background-color: gray;
    }
</style>

<script>
    var fing = document.getElementById('following');
    var fed = document.getElementById('followed');
    fing.classList.add('select-follow');
    

    function changeList(index) {
        if (index == 1) {
            fing.classList.add('select-follow');
            fed.classList.remove('select-follow');
        }
        else {
            fing.classList.remove('select-follow');
            fed.classList.add('select-follow');
        }
    }
</script>