@model instaProj.Models.User

@{
    ViewData["Title"] = "Login";
}

@* POP-UP LOGIN *@
<div class="modal fade" tabindex="-1" id="loginModal" aria-labelledby="loginModalLabel" aria-hidden="true"
     style="height:100vh;">
    <div class="modal-dialog modal-dialog-centered d-flex justify-content-center">
        <form asp-action="Login" asp-controller="Users">
            <div class="modal-content">
                <div class="modal-body d-flex flex-column gap-3 align-items-center justify-content-center maxW">
                    <div class="row maxW">
                        <div class="col"></div>
                        <div class="col d-flex justify-content-center">
                            <h5 class="modal-title">Entrar</h5>
                        </div>
                        <div class="col d-flex justify-content-end me-3">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-floating mb-3">
                            <input asp-for="Name" class="form-control" id="floatingInputLogin" placeholder="User123">
                            <label asp-for="Name" for="floatingInputLogin">Usuário</label>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Password" type="password" class="form-control" id="floatingInputPassword"
                                   placeholder="Senha">
                            <label asp-for="Password" for="floatingInputPassword">Senha</label>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    <input type="submit" value="Entrar" class="btn btnPu1 " />
                </div>
            </div>
        </form>
    </div>
</div>

@* POP-UP DE CADASTRO *@
<div class="modal fade" id="registerModal" aria-hidden="true" aria-labelledby="registerModalLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body d-flex flex-column gap-3 align-items-center justify-content-center maxW">
                <div class="row maxW">
                    <div class="col"></div>
                    <div class="col d-flex justify-content-center">
                        <h5 class="modal-title" id="registerModalLabel">Registre-se</h5>
                    </div>
                    <div class="col d-flex justify-content-end me-3">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                </div>
                <form asp-action="Create" asp-controller="Users">
                    <div class="modal-body d-flex flex-column gap-3 align-items-center justify-content-center maxW">
                        <div class="row justify-content-center">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-floating mb-3">
                                <input asp-for="Name" type="text" class="form-control" id="floatingInputName"
                                       placeholder="Nome">
                                <label asp-for="Name" for="floatingInputName">Nome</label>
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-3">
                                <label asp-for="Url" class="control-label">Nome de usuário</label>
                                <input asp-for="Url" class="form-control" />
                                <span asp-validation-for="Url" class="text-danger"></span>
                            </div>
@*                             <div class="form-floating mb-3">
                                <input asp-for="Telefone" type="tel" class="form-control" id="floatingInputPhone"
                                       placeholder="(00) 00000-0000" data-mask="(00) 00000-0000" maxlength="11">
                                <label asp-for="Telefone" for="floatingInputPhone">Telefone</label>
                                <span asp-validation-for="Telefone" class="text-danger"></span>
                            </div> *@
                            <div class="form-floating mb-3">
                                <input asp-for="Email" type="email" class="form-control" id="floatingInputEmail"
                                       placeholder="Email">
                                <label asp-for="Email" for="floatingInputEmail">Email</label>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-3">
                                <input asp-for="Password" type="password" class="form-control"
                                       id="floatingInputRegisterPassword" placeholder="Senha">
                                <label asp-for="Password" for="floatingInputRegisterPassword">Senha</label>
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                        <input type="submit" value="Registrar" class="btn btnPu1" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@* TELA PRINCIPAL *@
<div class="d-flex maxW flex-column justify-content-center align-items-center" style="height: 100%">
    <div class="centralized-div">
        <h1 class="fontLg">Bem-Te-Vi</h1>
        <h3>Veja o que está acontecendo pelo mundo</h3>
        <div class="flex-row">
            <button type="button" class="btnLg" id="abrirModal" data-bs-toggle="modal" data-bs-target="#loginModal">
                Login
            </button>
            <button type="button" class="btnLg" data-bs-toggle="modal" data-bs-target="#registerModal">
                Registre-se
            </button>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

<script>
    var login = document.getElementById('loginSwitch');
    if (login) {
        login.innerHTML = 'login';
    }
</script>

<style>
    body {
        background: rgb(244, 244, 64);
        background: radial-gradient(circle, rgba(244, 244, 64, 1) 0%, rgba(232, 232, 232, 1) 80%);
        color: #292929;
    }

    .centralized-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70vw;
        height: 80vh;
        gap: 10px;
    }

    .form-floating {
        width: 70%;
        padding: 3px;
    }

    .modal-content {
        background-color: #292929;
    }

    .modal-title {
        color: #e8e8e8;
    }

    .btn-close {
        background-color: white;
        color: white;
    }

    #sr{
        display: none;
    }


</style>
