@{
    ViewData["Title"] = "Bem-Te-Vi";
    string view = ViewBag.MainPage;
}



<div class="row" style="width: 100%; height: 100%">
    <div class="col vll no-config" style="height: 100%">
        <partial name="Menu" />
    </div>
    <div class="col-6 no-config" style="height: 100%" id="mainContainer">
        <partial name="@view" /> @{
            /* - Partial Indexar uma página na outra - */
        }
    </div>
    <div class="col vlr no-config" style="height: 100%">
        <partial name="Follows" />
    </div>
</div>


<style>
    .select:hover {
        background-color: lightgray;
    }

    .no-config {
        padding: 0px;
        margin: 0px;
    }

    .row {
        margin: 0px;
        wrap: no-wrap;
    }

    .col {
        height: 100%;
    }
</style>


<!-- Modal -->
<div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="commentModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="bodyComment">

            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
