@{
    ViewData["Title"] = "Bem-Te-Vi";
    string view = ViewBag.MainPage;
}



<div class="row" style="width: 100%; height: 100%">
    <div class="col vll no-config" style="height: 100%">
        <partial name="Menu" />
    </div>
    <div class="col-6 no-config" style="height: 100%" id="mainContainer">
        <partial name="@view" /> @{
            /* - Partial Indexar uma página na outra - */
        }
    </div>
    <div class="col vlr no-config" style="height: 100%">
        <partial name="Follows" />
    </div>
</div>


<style>
    .select:hover {
        background-color: lightgray;
    }

    .no-config {
        padding: 0px;
        margin: 0px;
    }

    .row {
        margin: 0px;
        wrap: no-wrap;
    }

    .col {
        height: 100%;
    }
</style>


