<div class="d-flex flex-column align-items-center justify-content-evenly" style="height:80%;">
    <div class="container d-flex flex-column" style="height:60%;">
        <div class="d-flex gap-3 align-items-center justify-content-start">
            <div class="logo"></div>
            <h5 class="no-config">User1</h5>
        </div>
        
    </div>
    <div class="container">
        <h4>Logout</h4>
    </div>
</div>