<div class="d-flex flex-column align-items-center maxW justify-content-between" style="height:100%; padding-top: 5rem;">
    <div class="d-flex flex-column maxW">
        <div class="d-flex gap-3 align-items-center justify-content-start ps-4">
            <div class="logo"></div>
            <h2 class="no-config">@ViewBag.User.Name</h2>
        </div>
        <br />
        <div class="col">
            <div class="d-flex gap-2 align-items-center p-4 ps-5 select">
                <span class="material-symbols-outlined">
                    home
                </span>
                <h4 class="no-config">Home</h4>
            </div>
            <div class="d-flex gap-2 align-items-center p-4 ps-5 select">
                <span class="material-symbols-outlined">
                    person
                </span>
                <h4 class="no-config">Perfil</h4>
            </div>
            <div class="d-flex gap-2 align-items-center p-4 ps-5 select">
                <span class="material-symbols-outlined">
                    settings
                </span>
                <h4 class="no-config">Configurações</h4>
            </div>
            <div class="d-flex align-items-center gap-2 p-4 ps-5 select">
                <span class="material-symbols-outlined">
                    add
                </span>
                <h4 class="no-config">
                    Novo Post
                </h4>
            </div>
        </div>
        <hr class="maxW" />
    </div>

    <div class="d-flex align-items-center gap-2 maxW p-4 ps-5 select">
        <span class="material-symbols-outlined">
            logout
        </span>
        <h4 class="no-config">
            Logout
        </h4>
    </div>
</div>
