@model instaProj.Models.User

@{
    ViewData["Title"] = "UpdateUser";
}

<form asp-action="UpdateUser" asp-controller="Users" enctype="multipart/form-data" class="w-100 d-flex justify-content-center">
    <div class="maxW pe-5 ps-5 d-flex gap-3 flex-column mt-4">
        <div class="d-flex justify-content-center">
            <label for="profilePicture" style="cursor: pointer;">
                <img id="AttImage" src="@(Model.PictureLocal ?? "/images/ppic.png")" alt="Foto de perfil do usuário" style="border-radius: 50%; width: 150px; height: 150px;" />
            </label>
            <input asp-for="PictureLocal" type="file" id="profilePicture" class="form-control-file d-none" aria-label="Foto de Perfil do Usuário" />
            <span asp-validation-for="PictureLocal" class="text-danger"></span>
        </div>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-floating mb-3">
            <input asp-for="Name" class="form-control" id="floatingInputName" placeholder="User123" aria-label="Nome do Usuário">
            <label asp-for="Name" for="floatingInputName">Usuário</label>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Bio" class="control-label">Bio</label>
            <textarea asp-for="Bio" class="form-control" aria-label="Biografia do Usuário" maxlength="150"></textarea>
            <span asp-validation-for="Bio" class="text-danger"></span>
        </div>

        <div class="maxW d-flex justify-content-end">
            <div>
                <button class="btn btnPd2" asp-action="Main" asp-route-page="MyPage">Voltar</button>
            </div>
            <div class="p-1"></div>
            <div>
                <button type="submit" class="btn btnPd">Salvar</button>
            </div>
        </div>
        <input type="hidden" asp-for="Id" />
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<style>
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
    }

    #AttImage {
        width: 150px;
        height: auto;
    }

    form {
        height: 90%;
    }

    .d-none {
        display: none;
    }
</style>

<script>
    $(document).ready(function () {
        $('#floatingInputPhone').mask('(00) 00000-0000');

        $('#profilePicture').change(function (e) {
            const file = e.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    $('#AttImage').attr('src', e.target.result);
                }
                reader.readAsDataURL(file);
            }
        });
    });
</script>
