@model instaProj.Models.User

@{
    ViewData["Title"] = "UpdateUser";
}

<form asp-action="UpdateUser" asp-controller="Users" class="w-100 d-flex justify-content-center">
    <div class="maxW pe-5 ps-5 d-flex gap-3 flex-column">
        <div class="d-flex justify-content-center">
            <img id="AttImage" src="/images/ppic.png" alt="Foto de perfil do usuário" />
        </div>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-floating mb-3">
            <input asp-for="Name" class="form-control" id="floatingInputName" placeholder="User123" aria-label="Nome do Usuário">
            <label asp-for="Name" for="floatingInputName">Usuário</label>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Bio" class="control-label">Bio</label>
            <textarea asp-for="Bio" class="form-control" aria-label="Biografia do Usuário" maxlength="150"></textarea>
            <span asp-validation-for="Bio" class="text-danger"></span>
        </div>

        <div class="maxW d-flex justify-content-end">
            <div>
                <button class="btn btnPd2" asp-action="Main" asp-route-page="MyPage">Voltar</button>
            </div>
            <div class="p-1"></div>
            <div>
                <button type="submit" class="btn btnPd">Salvar</button>
            </div>
        </div>
        <input type="hidden" asp-for="Id" />
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<style>
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
    }

    #AttImage {
        width: 150px;
        height: auto;
    }

    form {
        height: 90%;
    }
</style>

<script>
    $(document).ready(function () {
        $('#floatingInputPhone').mask('(00) 00000-0000');
    });
</script>